html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;

}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: darkslategray;
    text-shadow: 3px 3px 3px black;
}

p, li{
    color: rebeccapurple;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

body{
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

#mail{
    font-size: 15px;
}